<!-- @dsCard group="Components" viewport="700x150" name="Navbar" subtitle="Translucent dark site navigation" -->
<!doctype html><html><head><meta charset="utf-8">
<link rel="stylesheet" href="../../styles.css">
<style>
  body{margin:0;background:var(--bg-page);font-family:var(--font-sans)}
  .stage{background:linear-gradient(120deg,#221E19,#0F0E0C);min-height:150px}
</style>
<script src="https://unpkg.com/react@18.3.1/umd/react.development.js" integrity="sha384-hD6/rw4ppMLGNu3tX5cjIb+uRZ7UkRJ6BPkLpg4hAu/6onKUg4lLsHAs9EBPT82L" crossorigin="anonymous"></script>
<script src="https://unpkg.com/react-dom@18.3.1/umd/react-dom.development.js" integrity="sha384-u6aeetuaXnQ38mYT8rp6sbXaQe3NL9t+IBXmnYxwkUI2Hw4bsp2Wvmx4yRQF1uAm" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@babel/standalone@7.29.0/babel.min.js" integrity="sha384-m08KidiNqLdpJqLq95G/LEi8Qvjl/xUYll3QILypMoQ65QorJ9Lvtp2RXYGBFj1y" crossorigin="anonymous"></script>
<script src="../../_ds_bundle.js"></script>
</head>
<body>
  <div class="stage"><div id="root"></div></div>
  <script type="text/babel">
    const { Navbar } = window.ChaiShopperDesignSystem_69d5ad;
    ReactDOM.createRoot(document.getElementById('root')).render(
      <Navbar links={[
        { label: 'Меню', href: '#', active: true },
        { label: 'Наши точки', href: '#' },
        { label: 'Церемонии', href: '#' },
      ]} />
    );
  </script>
</body></html>
